.codeBox {
  display: inline-block;
  width: 45%;
  margin: 2px;
  padding: 10px;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}
.codeBox h3 {
  margin: 5px 0px;
  color: #000fca;
}
.qrCode {
  display: inline-block;
  float: left;
  width: 30%;
}
canvas {
  height: auto !important;
  width: 100% !important;
}
.right {
  display: inline-block;
  float: left;
  width: 65%;
  font-size: 12px;
}
.right img {
  width: 100%;
  margin: 10px 20px;
}
.content {
  display: block;
  float: left;
  font-size: 12px;
}
.footer {
  display: block;
  width: 100%;
}
.footer p {
  float: left;
  margin: 0px;
}
.footer img {
  height: 12px;
}
.footer h2{
  float: right;
  margin: 0px;
  font-size: 12px;
  opacity: 0.2;
}
